# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# OSX Specific files
.DS_Store

# Web design images 
assets/images/*

# top secret config
.config

# experimental
exp/  

# todo
TODO.md

# static quill related files
assets/quill.*
assets/examples/
assets/fa.css  
assets/jquery.min.js

# bulma static
assets/bulma.*
