{{define "article"}}

<article class="section">
    <div class="card">
        <div class="card-content">
            <p class="title">
                {{.Title}}
            </p>
            <p class="subtitle">
                By: {{.Name}}
            </p>
            <hr>
            <div class="content">
                {{.BodyHTML}}
            </div>
        </div>
    </div>
</article>

{{ end }}