{{define "footer"}}
<footer class="footer has-background-grey-dark has-text-white">
    <div class="level">
        <div class="level-left ">
            <div class="level-item">
            <a href="/privacy">Privacy</a>
            </div>
        </div>
        <div class="level-right ">
            <div class="level-item">This website is under active development, thanks for your patience!</div>
        </div>
    </div>
</footer>
{{end}}