{{define "footer"}}
<footer class="footer is-dark ">
    <div class="level ">
        <div class="level-left ">
            <div class="level-item">Boring Stuff Goes Here</div>
        </div>
        <div class="level-right ">
            <div class="level-item">Boring Stuff Goes Here</div>
        </div>
    </div>
</footer>
{{end}}