{{define "yield"}}
    <div class="content section">
        <p>This website is online for testing and review. <strong>It is in the earliest stages of
         development </strong>. Many more features will be added, and there WILL be some bugs.
         Please explore the site, and if you have any issues contact tom@tjcain.com.
    </div>
{{end}}